.disabled{
    pointer-events: none;
    cursor : default;
    opacity : 0.3;
  }
  .Row {
    display: table;
    width: 98%; 
    table-layout: fixed; 
    border-spacing: 10px;
}
.Column {
    display: table-cell;
    width:30%;
}